td{
    /* border: 1px solid; */
    /* padding: 3px; */
}

.legend-icon-wrapper, .legend-label{
    display: inline-block;
}

.legend-icon-wrapper{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0 0 0 10px;
}