#composition, #composition .composition-paper{
    display: flex;
    align-items: stretch;
}

.composition-panel{
    flex: 1 1 25%;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.15);
    overflow-y: auto;
}

.composition-paper{
    width: 100%;
    overflow: hidden;
}

.composition-paperview{
    /* overflow: auto; */
    /* overflow: hidden; */
    position: relative;
    margin: 20px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.15);
    min-height: 80%;
}

#composition{
    flex-direction: row;
    height: 100vh;
}

.composition-format{
    margin: 20px 0px 0px 20px;
    font-size: 12px;
    color: #2191FB;
}

.composition-paper{
    flex-direction: column;
}

.composition-tab{
    display: inline;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
}

.composition-tabs-content, .composition-tabs, .composition-actions-item{
    padding: 10px;
}

.composition-tab:hover{
    background-color: whitesmoke;
}

.composition-tab.active{
    background-color: #2191FB;
    color: white;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #89c6ff; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2191FB; 
}