.action-item{
    cursor: pointer;
    background-color: white;
    display: inline-block;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.15);
    margin: 20px 0 0 20px;
    border-radius: 5px;
    padding: 10px;
}

.action-item:hover{
    background-color: whitesmoke;
}

.action-item-icon, .action-item-label{
    display: inline-block;
}

.action-item-icon{
    margin-right: 10px;
    vertical-align: middle;
}

.action-item-icon img{
    width: 20px;
}