#paperview{
    border: 1px solid #EBEBEB;
    transition: all 0.2s;
    transform-origin: left top;
    position: absolute;
}

#paperview * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paperview-wrapper{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.paperview-drag-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grabbing;
    background-color: rgba(255, 255, 255, 0.452);
    z-index: 3;
}
