.mapbox-container, .map-widget{
    width: 100%;
    height: 100%;
}

.map-widget:hover .mapbox-name{
    display: block;
}

.mapbox-name{
    position: absolute;
    z-index: 1;
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 3px;
}

.mapbox-scale{
    z-index: 1;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    font-size: 12px;
    padding: 3px;
}