.widget-wrapper{
    overflow: hidden;
    /* transition: all 0.1s, */
    z-index:0;
    overflow: visible;
}

.widget-wrapper:hover{
    box-shadow: 0px 0 10px 2px rgb(51 51 51 / 15%);
}
.widget-wrapper.active{
    box-shadow: 0px 0 10px 2px rgb(33 145 251 / 50%);
}

.widget-actions{
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    z-index: 999;
}
.widget-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.widget-wrapper:hover{
    z-index: 2;
}
.widget-wrapper:hover .widget-actions{
    display: block;
}

.widget-action{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.widget-action.dragHandler{
    background-image: url('../Icons/drag-move-fill.svg');
    cursor: grab;
}

.widget-action.remove{
    background-image: url('../Icons/delete-bin-7-line.svg');
    cursor: pointer;
}

.widget-action.params{
    cursor: pointer;
    background-image: url('../Icons/settings-3-line.svg');
}