.label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.value input, .value select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

.value label{
    font-size: 14px;
}

.form-group{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.defaultWidgetProps{
    margin-top: 50px;
}

button{
    cursor: pointer;
    padding: 5px;
    text-align: center;
    background-color: #2191FB;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}