.widget-item{
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    box-shadow: 0px 4px 15px rgb(51 51 51 / 15%);
    margin: 15px 0 15px 0;
}

.widget-item:hover{
    background-color: whitesmoke;
}

.widget-item-icon, .widget-item-label{
    display: inline-block;
}

.widget-item-icon{
    width: 10%;
    padding: 8px;
    vertical-align: middle;
}

.widget-item-icon img{
    width: 100%;
}